  <div>
    <i><%= link_to(shout.username, shout.user) %></i>:
    <b><%= shout.content.body %></b>
    <%= link_to shout do %>
      <%= time_ago_in_words(shout.created_at) %> ago
    <% end %>
  </div>
