<h1>Dashboard</h1>
<%= form_for @shout do |f| %>
  <%= f.fields_for :content do |content_form| %>
    <%= content_form.text_field :body, placeholder: "shout", required: true %>
  <% end %>
  <%= f.submit "Shout"%>
<% end %>

<%= render(@shouts) %>
